body{
    background-color: rgb(255, 160, 122, 0.4);
}

footer{
    background-color: tomato;
    color: white;
}

marquee{
    background: tomato;
    padding: 0rem;
    margin-top: 0rem;
}

h1{
    font-family: Audiowide, cursive;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 4px black;
    font-size: 3rem;
}

h1:hover{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    

}

#profile-image{
border-radius: 50%;
width: 10rem;
height: 12rem;
margin: 0.625rem;
}

.img_txt:hover #profile-image{
    width: 14rem;
    height: 15rem;
    border: 0.2em solid white;
    border-radius: 50%;
}

.text-container{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-display: auto;
    font-size: 1rem;
    padding: 1rem;
}

.img_txt:hover .text-container{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-display: auto;
    font-size: 1.25rem;
    padding: 1.25rem;   
}

.img_txt{
    border: 3px solid red;
    background-color: rgb(255, 192, 203, 0.7);
    display: flex;
    width: 30rem;
    margin: auto;
    margin-top: 2rem;
    background-image: url(unijos_logo_license.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 5em;
    outline-width: 1em;
    outline-color: purple;
    outline-style: double;
    padding: 1rem;
   
}

.playwrite-au-vic-guides-regular {
  font-family: "Playwrite AU VIC Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

.s{
    background-color: rgb(54, 147, 201);
    color: white;
    text-decoration: dashed;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img_txt:hover{
    background-color: yellow;
    border: 3px solid white;
    outline-style: groove;
    outline-color: blue;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 0.625rem;
    width: 32rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

footer{
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   text-align: center;
   padding: 0.02rem;
}

footer:hover{
    background-color: blue;
}



